{% extends "base.html" %}

{% block title %}나의 프로필{% endblock title %}

{% load staticfiles %}
{% block extrastyle %}{% static "profile/profile.css" %}{% endblock extrastyle %}

{% block extra_body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        {% if user.profile.picture %}
                            <img src="{{ user.profile.picture.url }}" alt="{{ user.profile.nickname }}" class="img-rounded img-responsive" />
                        {% else %}
                            <img src="/media/default-picture.jpg" alt="{{ user.profile.nickname }}" class="img-rounded img-responsive" />
                        {% endif %}
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{ user.profile.nickname }}</h4>
                        <small><cite>{{ user.profile.address }}<i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{ user.profile.email }}
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}