<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="My first web project">
    <meta name="author" content="juhyun-park">
    <title>{% block title %}Carousel Template for Bootstrap{% endblock title %}</title>

    {% load staticfiles %}
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.css' %}" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'ie10-viewport-bug-workaround.css' %}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% block extrastyle %}{% endblock extrastyle %}" type="text/css" />

    <script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% block extraJS %}{% endblock extraJS %}"></script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
                    </div>


                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'blog:index' %}">전체 글 목록</a></li>
                            <li><a href="{% url 'friend:search' %}">친구검색 및 추가</a></li>
                            <li><a href="{% url 'friend:list' %}">친구목록 및 채팅방만들기</a></li>
                            <li><a href="{% url 'chat:enter' %}">채팅하기</a></li>

                            <!--    아래의 템플릿 변수 Seoul은 blog.context_processor.py에
                            정의되어 있는 dict 자료구조의 key이다.   -->
                            <!--    view에서 render함수 호출할 때 context 객체를 인자로 넘겨주지 않아도
                            context_processor 덕분에 템플릿 변수를 사용할 수 있다. -->
                            <!--    <li><a href="#">Contact {# {{ Seoul }} #}</a></li>    -->
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            {% if not user.is_authenticated %}
                                <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% else %}
                                <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-cog"></span> My Profile</a> </li>
                                <li><a href="{% url 'logout' %}?next={{ request.path }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a> </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navigation end -->


            {% block chatting %}{% endblock chatting %}
            {% block extra_body %}{% endblock extra_body %}


            <!-- Bootstrap core JavaScript -->
            <!-- Placed at the end of the document so the pages load faster -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="static/js/jquery-3.2.1.min.js"><\/script>')</script>
            <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>


            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 박주현 2017. 여름. </p>
            </footer>
        </div>
    </div>
</body>
</html>
